.vertical-center {
  min-width: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

a {text-decoration: none;}

.jumbotron{
	margin-top: 50px;
	background-color: #ccc;
}

.option{
	padding-top: 10px;
	border-radius: 50%;
}

.option .tile-text{
	word-wrap: break-word;
	margin-top: 25% !important;
}

.btn {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.87);
}

.btn {
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;

  transition: all .15s ease-in-out; 
  -o-transition: all .15s ease-in-out; 
  -moz-transition: all .15s ease-in-out; 
  -webkit-transition: all .15s ease-in-out;  
  
  &:focus, &:active, &.active, &:active:focus, &.active:focus {
    outline: 0;
    outline-offset: 0;  
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.btn-raised {
/*   // shadow depth 1 */
    -webkit-box-shadow: 0 7px 3px 0 rgba(0, 0, 0, .12),
  0 3px 10px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 7px 3px 0 rgba(0, 0, 0, .12),
  0 3px 10px 0 rgba(0, 0, 0, .24); 
    box-shadow: 0 7px 3px 0 rgba(0, 0, 0, .12),
  0 3px 10px 0 rgba(0, 0, 0, .24); 
/*     -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), */
/*   0 1px 2px 0 rgba(0, 0, 0, .24); */
/*     -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), */
/*   0 1px 2px 0 rgba(0, 0, 0, .24);  */
/*     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), */
/*   0 1px 2px 0 rgba(0, 0, 0, .24);  */
   
  &:active, &.active, &:active:focus, &.active:focus {
/*     // shadow depth 2 */
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }
  
  &:focus {
/*     // shadow depth 2 */
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }
  
}

.btn.btn-circle {
  padding: 0px;
  border-radius: 50%;
}

.btn-circle.btn-lg {
  width: 200px;
  height: 200px;
  min-width: 133px;
  
  span {
    line-height: 78px;
  }
}

h3 .glyphicon{
	font-size: 17px;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}