body {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Arial, Helvetica, sans-serif;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.admin {
	background-color: orange !important;
}

 /* Added by Medhavi */
.navbar-default {
	background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#233237, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#233237, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#233237, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#233237, black); /* Standard syntax */
    
    /* background-color: black; */
    border-color: #984B43;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #2879b1;
    color: #fff;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #fff;
    border-color: #428bca;
}

.jumbotron{
	/*background-color: #ccc;*/
	background-color: white; 	/* Added by Medhavi */
	margin-bottom:0px;
}
.jumbotron.title{
	/* margin-top: 50px; */
	margin-top: 30px;		/* Added by Medhavi */
}
.jumbotron.content{
	margin-top: 30px;		/* Added by Medhavi */
	height: 100vh;
}

.jumbotron .h1, .jumbotron h1 {
	font-size: 50px;
}