.container_name:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content: "\e114"; /* adjust as needed, taken from bootstrap.css */
	float: left; /* adjust as needed */
	color: grey; /* adjust as needed */
	padding-right: 15px;
}
.container_name.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}
.topic-container {
	position: fixed;
	top: 50px;
	width: 100%;
	height: 200px;
	z-index: 50;
}

.jumbotron{
	/*background-color: #ccc;*/
	background-color: whitesmoke; 	/* Added by Medhavi */
}

.jumbotron.title{
	margin-top: 50px;
}

.topic_holder{
/*     background-color: rgba(201, 219, 52, 0.4); */
}

.btn{
	border-radius: 25px;
}
.activity_holder{
/* 	background-color: rgb(214, 196, 196); */
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin-top:2px;
	margin-bottom :2px;
}
.module_holder{
/*     background-color: rgba(0, 0, 0, 0.12); */
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin-top:2px;
	margin-bottom :2px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.modal-content{
	margin-left: -100px;
	margin-right: -100px;
}

.desc-body{ 
	padding-top:10px; 
} 

.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 25px;
}
.tile .title {
  margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
  color: #fff;
}
.tile.gray {
  background: #57646d;
}	

/* Added by Medhavi */
.tile.black {
  background: black;
}