

.btn-group .current-ongoing-module{
	box-shadow: 0 0 13px rgba(81, 203, 238, 1);
/*   	padding: 3px 0px 3px 3px; */
/* 	margin: 5px 1px 3px 0px; */
	border: 3px solid rgba(81, 203, 238, 1);
}
.btn-group .current-complete-module{
	box-shadow: 0 0 13px rgba(134, 191, 134, 0.93);
/*   	padding: 3px 0px 3px 3px; */
/* 	margin: 5px 1px 3px 0px; */
	border: 3px solid rgba(134, 191, 134, 0.93);
}

.clear {
	padding: 10px;
}

.chkbx{
	width: 20px;
	height: 20px;
}

.radioBtn {
	width: 20px;
	height: 20px;
}

.video-options,.image-options{
	padding-top: 10%;
}

.btn-prev,.btn-next{
	width: 175px;
    height: 50px;
    border-radius: 20px;
}

.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 25px !important;
  opacity: 1;
}
.tile .title {
  margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
  color: #fff;
}
.tile.gray {
  /* background: #57646d; */
  background: black;
}

.activity-content{
	/* min-height: 100px; */
}

.mcqOption.correctOption, .mcaOption.correctOption {
	/*background-color:#67f12f;*/
	width: auto;
    background-color: rgba(100, 230, 45, 0.5);
}

.yesnoOption.correctOption {
    background-color: rgba(100, 230, 45, 0.5);
}

.mcqOption, .mcaOption {
	margin-top:15px;
	margin-right:15px;
	margin-left:15px;
	border-radius: 25px !important;
	width: 100%;		
	text-align: left;
	font-weight: bold;
	color: black;
}

.yesnoOption {
	margin-top:15px;
	margin-right:15px;
	margin-left:15px;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:15px;
	border-radius: 25px !important;
}

.mcqOption.correctOption, .mcaOption.correctOption {
	padding-left: 10px; 
    padding-right: 10px; 
	width: auto;
    background-color: rgba(100, 230, 45, 0.5);
}

.yesnoOption.correctOption {
	padding-left: 10px; 
    padding-right: 10px; 
    background-color: rgba(100, 230, 45, 0.5);
}

.mcqOption.incorrectOption, .mcaOption.incorrectOption {
	padding-left: 10px; 
    padding-right: 10px; 
    width: auto;
    background-color: rgba(230, 75, 60, 0.5);
}

.yesnoOption.incorrectOption {
	padding-left: 10px; 
    padding-right: 10px; 
    background-color: rgba(230, 75, 60, 0.5);
}

label.labelText {
	white-space: normal;
}

label#labelText {
	white-space: normal;
}

.tile.black {
  background: #233237;
}

button.disabled {
    pointer-events:none;    
}

/* Added by Medhavi */
span.h3 {
	font-weight: normal;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #233237;
    border-radius: 10px;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid rgb(178, 182, 183);
}
.dropdown-content a:link {
	background-color: #0FA0CE;
	font-style: italic;
}

.dropdown-content a:hover {
	background-color: #0FA0CE;
	font-style: italic;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #0FA0CE;
	font-style: italic;
}

.activityTitle {
	background-color: lightblue;
}

ul#moduleList {
	box-shadow: 0 0 13px #233237;
}

.nav>li>a {
	border: 1px solid #233237;
}

.nav>li>a[class*=" current-"] {
	background-color: #233237;
	color:white;
}

.nav>li>a:hover{
	background-color: #233237;
	color:white;
	font-style: italic;
}

.popover-title {
	color: #233237 !important;
	font-weight: bold;
}

.popover-content {
	color: #233237;
}