.vertical-center {
  min-width: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

a {text-decoration: none;}

.jumbotron{
	/*background-color: #ccc;*/
	background-color: whitesmoke; 	/* Added by Medhavi */
	margin-bottom:0px;
}
.jumbotron.content, .jumbotron.title{
	margin-top: 50px;
}
.jumbotron.content{
	height: 100vh;
}


.option{
	border-radius: 50%;
}

.option .tile-text{
	word-wrap: break-word;
	margin-top: 25% !important;
}

.option-content{
	margin-top: 5%;
}