
.jumbotron{
	/*background-color: #ccc;*/
	background-color: whitesmoke; 	/* Added by Medhavi */
	margin-bottom:0px;
}

.jumbotron.content, .jumbotron.title{
	margin-top: 5px;
	padding-bottom: 0px;		/* Added by Medhavi */
}
.jumbotron.content{
	height: 100vh;
}

.btn-group .current-ongoing-module{
	box-shadow: 0 0 13px rgba(81, 203, 238, 1);
/*   	padding: 3px 0px 3px 3px; */
/* 	margin: 5px 1px 3px 0px; */
	border: 3px solid rgba(81, 203, 238, 1);
}
.btn-group .current-complete-module{
	box-shadow: 0 0 13px rgba(134, 191, 134, 0.93);
/*   	padding: 3px 0px 3px 3px; */
/* 	margin: 5px 1px 3px 0px; */
	border: 3px solid rgba(134, 191, 134, 0.93);
}

.clear {
	padding: 10px;
}

.chkbx{
	width: 20px;
	height: 20px;
}

.video-options,.image-options{
	padding-top: 10%;
}

.btn-prev,.btn-next{
	width: 175px;
    height: 50px;
    border-radius: 20px;
}

.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 25px !important;
}
.tile .title {
  margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
  color: #fff;
}
.tile.gray {
  background: #57646d;
}

.activity-content{
	min-height: 100px;
}

.mcqOption.correctOption {
	/*background-color:#67f12f;*/
	width: auto;
    background-color: rgba(100, 230, 45, 0.5);
}

.yesnoOption.correctOption {
    background-color: rgba(100, 230, 45, 0.5);
}

.mcqOption {
	margin-top:15px;
	margin-right:15px;
	margin-left:15px;
	border-radius: 25px !important;
	width: 100%;		
	text-align: left;
	font-weight: bold;
	color: black;
}

.yesnoOption {
	margin-top:15px;
	margin-right:15px;
	margin-left:15px;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:15px;
	border-radius: 25px !important;
}

.mcqOption.correctOption {
	padding-left: 10px; 
    padding-right: 10px; 
	width: auto;
    background-color: rgba(100, 230, 45, 0.5);
}

.yesnoOption.correctOption {
	padding-left: 10px; 
    padding-right: 10px; 
    background-color: rgba(100, 230, 45, 0.5);
}

.mcqOption.incorrectOption {
	padding-left: 10px; 
    padding-right: 10px; 
    width: auto;
    background-color: rgba(230, 75, 60, 0.5);
}

.yesnoOption.incorrectOption {
	padding-left: 10px; 
    padding-right: 10px; 
    background-color: rgba(230, 75, 60, 0.5);
}

label.labelText {
	white-space: normal;
}

label#labelText {
	white-space: normal;
}

.tile.black {
  background: black;
}

button.disabled {
    pointer-events:none;    
}