.navbar-default {
    background-color: #2e8bcc;
    border-color: #2e8bcc;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #2879b1;
    color: #fff;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #eee;
    border-color: #428bca;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
    font-weight: 100;
    line-height: 1.1;
    color: inherit;
}

body {
    font-family: "Segoe UI Light","Segoe UI","Segoe WP","Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

a {text-decoration: none;}

.jumbotron{
	background-color: #ccc;
	margin-bottom:0px;
}
.jumbotron.content, .jumbotron.title{
	margin-top: 50px;
}
.jumbotron.content{
	height: 100vh;
}

.topic-row {
	margin-top: 20px;
	border-radius: 10px;
	padding-bottom: 20px;
/* 	box-shadow: 0 0 13px rgb(115, 118, 119); */
/*     padding: 3px 0px 3px 3px; */
/*     margin: 5px 1px 3px 0px; */
/*     border: 3px solid rgb(178, 182, 183); */
}

.button-wrapper {
	border-radius: 10px;
	margin-bottom:5px;
}

.start-tutorial {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 25px;
}

.container_name:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content: "\e114"; /* adjust as needed, taken from bootstrap.css */
	float: left; /* adjust as needed */
	color: grey; /* adjust as needed */
	padding-right: 15px;
}
.container_name.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}